<div class="row">
    <div class="col-md-6">
        <h3>
            {{issue.IssueKey}} 
            <a ng-show="isAdmin || false" href="#/issues/{{issue.Id}}/edit" class="btn btn-primary" role="button">Edit</a>
        </h3>
        <hr>
        <h4><strong>Title:</strong> {{issue.Title}}</h4> 
        <h4><strong>Description:</strong> {{issue.Description}}</h4>
        <h4><strong>AssigneeId:</strong> (current id: {{issue.Assignee.Id}}) {{issue.Assignee.Username}}</h4>
        <h4><strong>PriorityId:</strong> (current id: {{issue.Priority.Id}}) {{issue.Priority.Name}}</h4>
        <h4><strong>DueDate:</strong> {{issue.DueDate}}</h4>
        <h4><strong>Author:</strong> {{issue.Author.Username}}</h4>
        <h4><strong>Project:</strong> {{issue.Project.Name}}</h4>
        <h4><strong>Status:</strong> {{issue.Status.Name}}</h4>
    </div>
    <div class="col-md-6">
        <h3>Available statuses</h3>
        <h4 ng-repeat="status in issue.AvailableStatuses">{{status.Name}} <button class="btn btn-primary" ng-click="changeIssueStatus(status.Id)">CHANGE</button></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
        <div ng-repeat="comment in comments">
            <h4 class="blue">{{comment.Author.Username}} - {{comment.CreatedOn}}</h4>
            <span>{{comment.Text}}</span>
            <hr>
        </div>
    </div>
</div>