/* app css stylesheet */
body {
  margin: 5px;
}

input {
  margin-bottom: 10px;
}

.disabled-button {
  opacity: 0.6;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: steelblue;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input.ng-invalid.ng-dirty {
  border-color: red;
}

.container {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    padding: 30px;
    padding-top: 0;
}

.center {
    text-align: center;
}

/*Animate IF*/

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

/*END Animate IF*/
