<h2 class="center">Please login or register!</h2>
<div class="row">
    <div class="col-md-6">
        <h3 class="center">Login</h3>
        <form name="loginForm">
            <label for="email">Email</label>
            <input type="text" ng-model="user.email" id="email" required ng-minlength="3" class="form-control">
            <label for="password">Password</label>
            <input type="password" ng-model="user.password" id="password" required ng-minlength="6" class="form-control">
            <input type="submit" value="Login" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="login(user)">
        </form>
    </div>
    <div class="col-md-6">
        <h3 class="center">Register</h3>
        <form name="registerForm">
            <label for="email2">Email</label>
            <input type="text" ng-model="userRegister.Email" id="email2" required ng-minlength="3" class="form-control">
            <label for="password2">Password</label>
            <input type="password" ng-model="userRegister.Password" id="password2" required ng-minlength="6" class="form-control">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" ng-model="userRegister.ConfirmPassword" required ng-minlength="6" class="form-control">
            <input type="submit" value="Register" class="btn btn-primary" ng-disabled="registerForm.$invalid || userRegister.password != userRegister.confirmPassword" ng-click="register(userRegister)">
        </form>
    </div>
</div>